body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 7%, 8%);
}

.clock {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: solid 5px hsl(60, 100%, 50%);
}

.seconds-hand {
    position: absolute;
    height: 130px;
    width: 2px;
    background-color: hsl(215, 54%, 41%);
    left: 149px;
    bottom: 149px;
    opacity: 50%;
}

.minutes-hand {
    position: absolute;
    height: 100px;
    width: 2px;
    background-color: hsl(289, 36%, 41%);
    left: 149px;
    bottom: 149px;
    opacity: 50%;
}

.hours-hand {
    position: absolute;
    height: 80px;
    width: 4px;
    background-color: hsl(31, 42%, 47%);
    left: 148px;
    bottom: 148px;
    opacity: 50%;
}